<%- include("./partials/headerLayout.ejs"); %>

  <section class="header mb-5 mt-1">
    <div>
      <a class="display-2 text-center hvr-grow" id="principalTitle" href="/">Eduardo Yanes</a>
    </div>
    <div id="logo" class="hvr-grow">
      <img src="public/img/logo.png" alt="logoImage">
    </div>
  </section>

  <section class="content">
    <%- include("./partials/projects.ejs") %>
    <%- include("./partials/about.ejs") %>
  </section>

  <%- include("./partials/footerLayout.ejs") %>