html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #793fdf; */
  background-color: #9babb8;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

#principalTitle {
  text-decoration: none;
  text-shadow: 4px 4px 4px rgba(243, 235, 235, 0.2);
  color: #f1f0e8;
  font-family: "Acme", sans-serif;
}

.header #logo {
  margin-left: 45%;
  position: relative;
}

.header #logo img {
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
  animation: rotate 5s linear infinite;
}

/* rotate the logo image */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  /* display: grid;
  grid-template-columns: 55% 45%;
  grid-gap: 1rem; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.content #about {
  height: 11%;
  position: sticky;
  left: 45%; /* asegura que la columna se mantenga a la derecha de la columna 1 */
  top: 0;
  flex: 1;
}

.content #projects {
  flex: 2;
  margin: 0 1rem;
}

.content #projects #projects-text {
  text-shadow: 4px 4px 4px rgba(243, 235, 235, 0.2);
  color: #f1f0e8;
  font-family: "Acme", sans-serif;
}

.content .card .card-header {
  background-color: #eee3cb;
}

.content .card .card-body .socials-links ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.content .card .card-body .socials-links ul li {
  font-size: 3.5rem;
  margin: 0 1rem;
}

.content .card .card-body .socials-links ul li a #github-link {
  color: #040d12;
}

.content .card .card-body .socials-links ul li a #facebook-link {
  color: #0e21a0;
}

@media screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
  .content #about {
    order: -1;
    position: static;
    margin-bottom: 2rem;
  }

  .header {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .header #logo {
    margin-left: 0;
    position: relative;
  }
  .header #logo img {
    width: 110px;
    height: 110px;
  }

  .content #about {
    height: 600px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .content {
    flex-direction: column;
  }
  .content #about {
    order: -1;
    position: static;
    margin-bottom: 2rem;
  }

  .header {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .header #logo {
    margin-left: 0;
    position: relative;
  }
  .header #logo img {
    width: 110px;
    height: 110px;
  }
}
