html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* add the gif background */
  background-image: url("../img/background.jpg");
  background-size: contain;
}

.header {
  /* flex grid */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.header #principalTitle {
  text-decoration: none;
  text-shadow: 4px 4px 4px rgba(243, 235, 235, 0.2);
  color: #f1f0e8;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  flex: 1;
}

.header #logo {
  position: relative;
  flex: 2;
  padding-left: 20rem;
}

.header #logo img {
  width: 110px;
  height: 110px;
  top: 0;
  left: 0;
  animation: rotate 5s linear infinite;
}

/* rotate the logo image */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.content #about {
  background-color: #ffffff9e;
  height: 11%;
  position: sticky;
  left: 45%; /* Ensures that the column stays to the right of column 1 */
  top: 0;
  flex: 1;
}

.content #about .card-header h1 {
  font-family: "ABeeZee", sans-serif;
  color: #f1f0e8;
}
.content #about .card-body p {
  font-family: "ABeeZee", sans-serif;
}

.content #projects {
  flex: 2;
  margin: 0 1rem;
}

.content #projects #projects-text {
  text-shadow: 4px 4px 4px rgba(243, 235, 235, 0.2);
  color: #f1f0e8;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
}

.content #projects .card {
  background-color: #ffffff9e;
}

.content .card .card-header {
  background-color: #040d12;
  font-family: "ABeeZee", sans-serif;
}

.content #projects .card .card-header h1 {
  font-family: "ABeeZee", sans-serif;
  color: #f1f0e8;
}

.content #projects .card .card-body p {
  font-family: "ABeeZee", sans-serif;
}

.content .card .card-body .socials-links ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.content .card .card-body .socials-links ul li {
  font-size: 3.5rem;
  margin: 0 1rem;
}

.content .card .card-body .socials-links ul li a #github-link {
  color: #040d12;
}

.content .card .card-body .socials-links ul li a #facebook-link {
  color: #0e21a0;
}

footer p {
  font-family: "ABeeZee", sans-serif;
}

/* Responsive desing */
@media screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
  .content #about {
    order: -1;
    position: static;
    margin-bottom: 2rem;
    height: 600px;
  }

  .header {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .header #logo {
    margin-left: 0;
    position: relative;
    padding-left: 0;
  }
  .header #logo img {
    width: 110px;
    height: 110px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .content {
    flex-direction: column;
  }
  .content #about {
    order: -1;
    position: static;
    margin-bottom: 2rem;
  }

  .header {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .header #logo {
    margin-left: 0;
    position: relative;
    padding-left: 0;
  }
  .header #logo img {
    width: 110px;
    height: 110px;
  }
}
