<section data-aos="fade-up" class="card" id="about">
  <div class="card-header">
    <h1 class="display-4 text-start hvr-shadow">About of me</h1>
  </div>
  <div class="card-body">
    <p class="hvr-underline-from-left">
      Hi, I am a <strong>student of web development</strong>
      <br />
      I love programming 💖 and especially web development. I am currently
      pursuing a certification from Google on the creation and design of web
      pages. I love programming especially websites because I know it's a
      fundamental foundation of our world. I am creative and above all I am a
      person who loves to take on challenges.
    </p>
    <p class="hvr-underline-from-left">
      During these 3 years studying I have developed my own projects in
      languages like Python 🐍 and Node also a little C #. In both Python and
      Node I have developed websites such as frameworks such as Flask, Django
      and Express.
    </p>
    <section class="socials-links">
      <ul>
        <li>
          <a
            href="https://github.com/EduardYan"
            target="_blank"
            rel="noreferrer"
            title="My Github"
            class="hvr-float-shadow"
          >
            <i
              class="fa-brands fa-github fa-spin fa-spin-reverse"
              id="github-link"
            ></i>
          </a>
        </li>

        <li>
          <a
            href="https://www.facebook.com/people/Eduard-Montero/pfbid0eu4jSNucPmzxX1omNwUWSMrTMF34ZhsJpQpvvUdHbPtMRj4mbYyDFQt1sLNKN6Hrl/?sk=about"
            target="_blank"
            rel="noreferrer"
            title="My Facebook"
            class="hvr-float-shadow"
          >
            <i class="fa-brands fa-facebook fa-spin" id="facebook-link"></i>
          </a>
        </li>
      </ul>
    </section>
  </div>
</section>
