<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eduardo Yanes | Backend & Fronted Developer</title>
    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      href="/public/img/favicon.ico"
      type="image/x-icon"
    />
    <!-- BOOTSTRAP 5 -->
    <link rel="stylesheet" href="public/css/bootswatch.min.css" />

    <!-- AOS LIBRARY -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <link rel="stylesheet" href="public/css/aos.css" />
    <!-- FONT AWESOME -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> -->
    <link rel="stylesheet" href="public/css/fontawesome.min.css" />
    <!-- HOVER -->
    <link rel="stylesheet" href="public/css/hover.css" />
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="public/css/main.css" />
    <link rel="stylesheet" href="public/css/light-main.css" />
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container mb-5" id="principalContainer">
