<section id="projects">
  <h1 class="display-4 text-center mb-4" id="projects-text">
  </h1>

  <article data-aos="zoom-in" class="card mb-3">
    <div class="card-header">
      <h1 class="display-6">Web Electronic Shop</h1>
    </div>
    <div class="card-body">
      <p>A model of what an electronics store made with Express as a NodeJs framework could look like. Display
        epngach electronic item in a section where it could be purchased.</p>
      <img loading="lazy" src="public/img/screenshot1.jpg" alt="screenshot1" class="card-img-bottom">
    </div>
    <div class="card-footer">
      <a class="btn btn-primary hvr-icon-wobble-horizontal" href="https://github.com/EduardYan/NODE-ELECTRONIC-SHOP"
        target="_blank" rel="noreferrer">View
        Github <i class="fa fa-arrow-right hvr-icon"></i></a>
    </div>
  </article>

  <article data-aos="flip-right" class="card mb-3">
    <div class="card-header">
      <h1 class="display-6">Students Scores Manager Website</h1>
    </div>
    <div class="card-body">
      <p>A website to save students' notes and keep track of their grades. Made with Python using its Flask
        framework, also using a Bootstrap as a css framework. Very useful to have a record not only of students
        but any data.</p>
      <img loading="lazy" src="public/img/screenshot2.jpg" alt="screenshot2" class="card-img-bottom">
    </div>
    <div class="card-footer">
      <a class="btn btn-primary hvr-icon-wobble-horizontal" href="https://github.com/EduardYan/results-website"
        target="_blank" rel="noreferrer">View
        Github <i class="fa fa-arrow-right hvr-icon"></i></a>
    </div>
  </article>

  <article data-aos="flip-left" class="card mb-3">
    <div class="card-header">
      <h1 class="display-6">NASA API</h1>
    </div>
    <div class="card-body">
      <p>This is a website that uses NASA's API to obtain random images officially published by NASA. It is
        completely random and shows the author and publication date of each. Definitely very interesting.</p>
      <img loading="lazy" src="public/img/screenshot3.jpg" alt="screenshot3" class="card-img-bottom">
    </div>
    <div class="card-footer">
      <a class="btn btn-primary hvr-icon-wobble-horizontal" href="https://github.com/EduardYan/api-nasa-fronted"
        target="_blank" rel="noreferrer">View
        Github <i class="fa fa-arrow-right hvr-icon"></i></a>
    </div>
  </article>

  <article data-aos="flip-right" class="card mb-3">
    <div class="card-header">
      <h1 class="display-6">Store Web Page</h1>
    </div>
    <div class="card-body">
      <p>A small website as a model of a food store. Show each product in an article to later be able to buy.</p>
      <img loading="lazy" src="public/img/screenshot4.jpg" alt="screenshot4" class="card-img-bottom">
    </div>
    <div class="card-footer">
      <a class="btn btn-primary hvr-icon-wobble-horizontal" href="https://github.com/EduardYan/store-app-html"
        target="_blank" rel="noreferrer">View
        Github <i class="fa fa-arrow-right hvr-icon"></i></a>
  </article>

  <article data-aos="flip-right" class="card mb-3">
    <div class="card-header">
      <h1 class="display-6">Products Manager</h1>
    </div>
    <div class="card-body">
      <p>Website made with Python using its Flask framework, where you can deny a product record such as the
        product name, the cost of the product and the date of registration of the product. In addition, products
        can be updated or even removed. It also uses a super lightweight database called SQlite.</p>
      <img loading="lazy" src="public/img/screenshot5.png" alt="screenshot5" class="card-img-bottom">
    </div>
    <div class="card-footer">
      <a class="btn btn-primary hvr-icon-wobble-horizontal" href="https://github.com/EduardYan/products-web-app"
        target="_blank" rel="noreferrer">View
        Github <i class="fa fa-arrow-right hvr-icon"></i></a>
    </div>
  </article>

  <article data-aos="flip-left" class="card mb-3">
    <div class="card-header">
      <h1 class="display-6">Houses Manager</h1>
    </div>
    <div class="card-body">
      <p>Useful and interesting website to manage and have a record of houses, such as the address of the house
        and the price of the house. It also shows a view where we can see all our houses that we have registered
        and we can delete them or even update their data.</p>
      <img loading="lazy" src="public/img/screenshot6.png" alt="screenshot6" class="card-img-bottom">
    </div>
    <div class="card-footer">
      <a class="btn btn-primary hvr-icon-wobble-horizontal" href="https://github.com/EduardYan/houses-app"
        target="_blank" rel="noreferrer">View
        Github <i class="fa fa-arrow-right hvr-icon"></i></a>
    </div>
  </article>

  <article data-aos="flip-right" class="card mb-3">
    <div class="card-header">
      <h1 class="display-6">Html Phone</h1>
    </div>
    <div class="card-body">
      <p>This is a website that simulates the interface of a very funny and interesting phone.</p>
      <img loading="lazy" src="public/img/screenshot7.jpg" alt="screenshot7" class="card-img-bottom">
    </div>
    <div class="card-footer">
      <a class="btn btn-primary hvr-icon-wobble-horizontal" href="https://github.com/EduardYan/html-phone"
        target="_blank" rel="noreferrer">View
        Github <i class="fa fa-arrow-right hvr-icon"></i></a>
    </div>
  </article>

  <article data-aos="flip-up" class="card mb-3">
    <div class="card-header">
      <h1 class="display-6">Minimal Web Browser</h1>
    </div>
    <div class="card-body">
      <p>This is a small web browser model made with Python using its Tkinter module and tkhtmlview to create
        graphical interfaces. Basically it works as even a Rest client since we not only have the GET method but
        also with the other three main methods POST, PUT and DELETE and we will obtain the result of our request
        written in the search bar.</p>
      <img loading="lazy" src="public/img/screenshot8.png" alt="screenshot8" class="card-img-bottom">
    </div>
    <div class="card-footer">
      <a class="btn btn-primary hvr-icon-wobble-horizontal" href="https://github.com/EduardYan/minimal-web-browser"
        target="_blank" rel="noreferrer">View
        Github <i class="fa fa-arrow-right hvr-icon"></i></a>
  </article>

  <article data-aos="flip-down" class="card mb-3">
    <div class="card-header">
      <h1 class="display-6">Console Calendar</h1>
    </div>
    <div class="card-body">
      <p>Console application to view the calendar and more specifically the current date from the console or
        terminal of any operating system. Made with Python.</p>
      <img img loading="lazy" src="public/img/screenshot9.png" alt="screenshot9" class="card-img-bottom">
    </div>
    <div class="card-footer">
      <a class="btn btn-primary hvr-icon-wobble-horizontal" href="https://github.com/EduardYan/python-calendar"
        target="_blank" rel="noreferrer">View
        Github <i class="fa fa-arrow-right hvr-icon"></i></a>
  </article>
</section>